<%- include('../partials/header.ejs')%> <%- include('../nav_bar/nav_bar.ejs')%>
<div class="trades">
    <div class="trades-header"><h1>Live Bidding!</h1></div>
    <div class="trades-items">
        <%if (trades.length) {%>
        <ul class="trades-items-individual">
            <%trades.forEach(trade =>{%>
            <li>
                <img src="<%= trade.images[0] %>" class="item-img" alt="ps5-sample" />
                <h3><a href="/trades/<%= trade.id%>"><%= trade.title%></a></h3>
                <p>
                    Listed by: <%= trade.trader.firstName + ' ' + trade.trader.lastName%>
                    <br />
                    Last updated: <%= trade.updatedAt.toDateString()%>
                    <br />
                    Status: <%= trade.status%>
                </p>
            </li>
            <% })%>
        </ul>
        <%} else {%>
        <p>There is no trade to display at the moment</p>
        <%}%>
    </div>
</div>
<%- include('../partials/footer.ejs')%>
