<%- include('../partials/header.ejs')%>
<%- include('../nav_bar/nav_bar.ejs')%>
<div class = "body-wrapper">
    <h1><%= error.status%></h1>
    <p><%= error.message%></p>
</div>
<%- include('../partials/footer.ejs')%>